@model WebAppBlog.Models.IndexViewModel
@{
    ViewBag.Title = "Edit your profile";
}

<div class="edit-profile-page">
    <h1>@ViewBag.Title</h1>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h2>Change your account settings</h2>
        <div class="edit-user-data horizonal-line-before">
            
            <h3>First Name</h3>
             @Html.TextBoxFor(m => m.FirstName) 
            
            <h3>Last Name</h3>
            @Html.TextBoxFor(m => m.LastName)
            
            <h3>Password</h3>

            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }

            <h3>Two-Factor Authentication</h3>
            <span>
                @if (Model.TwoFactor)
                    {
                        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <span>Enabled</span>
                            <input type="submit" value="Disable" class="btn btn-link" />
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <span>Disabled</span>
                            <input type="submit" value="Enable" class="btn btn-link" />
                        }
                    }
            </span>
        </div>
        <div class="more-options">
            @Html.ActionLink("< Back", "Index", "User", null, null)
            <a href="/#" class="btn-right">Save ></a>
        </div>
    </div>
</div>
