<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Blogtool @ViewBag.Title </title>
    @Styles.Render("~/Style/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Niconne" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Allura|Chewy|Coiny|Cookie|Dancing+Script:400,700|Dosis:400,600,700|Droid+Sans:700|Eczar:400,600,700|Ewert|Great+Vibes|Indie+Flower|Italianno|Love+Ya+Like+A+Sister|Montez|Niconne|Pinyon+Script|Qwigley|Tangerine:400,700|Ubuntu:400,700|Yanone+Kaffeesatz:400,700" rel="stylesheet">
    @RenderSection("JavaScript", required: false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Blog Tool", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("My Blogs", "Overview", "Blog")</li>
                    }
                    <!--li>@Html.ActionLink("Create Blog", "Index", "Home")</li-->
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Impressum", "Impressum", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - BlogTool Productions</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-VpbCBJJ45KKDRXlmYv5mMfY7fIqoqbM&callback=initMap" async defer>
    </script>
</body>
</html>
