@model WebAppBlog.Models.UserViewModel
@{
    ViewBag.Title = "Profile";
}

<h2>@ViewBag.Title</h2>
<div>
    @Html.LabelFor(m => m.Email)<br />
    @Html.DisplayTextFor(m => m.Email)<br /><br />
    @Html.LabelFor(m => m.FirstName)<br />
    @Html.DisplayTextFor(m => m.FirstName)<br /><br />
    @Html.LabelFor(m => m.LastName)<br />
    @Html.DisplayTextFor(m => m.LastName)<br /><br />
    @Html.LabelFor(m => m.Birthdate)<br />
    @Html.DisplayTextFor(m => m.Birthdate)<br /><br />
    @Html.LabelFor(m => m.EmailConfirmation)<br />
    @Html.DisplayTextFor(m => m.EmailConfirmation)<br /><br />
    @{
        if (!Model.EmailConfirmation)
        {
            using (Html.BeginForm("ResendEmail", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>Resend Email Confirmation
                    <input type="submit" value="Resend Mail" class="btn btn-link" />
                </text>
            }
        }
    }
  
      @Html.ActionLink("Edit", "Index","Manage",null,null)
   
</div>
